---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Hello World!</h1>
  <p>Hola, me llamo Artur y soy un aprendiz incansable, un apasionado del descubrimiento y de compartir los nuevos conocimientos que se me presentan. En este blog comparto mis procesos de trabajo, consejos y trucos, herramientas, y problemas que me voy encontrando por el camino. Articulos y noticias sobre el mundo de la programación con énfasis principal en el desarrollo de aplicaciones dotnet.</p>
  
<h2>Ultimas publicaciones:</h2>
<a href="#">Más entradas</a>





</BaseLayout>
